<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>新型电子元器件及其应用Ⅰ</string>
		<key>room</key>
		<string>2号公教楼306</string>
		<key>teacher</key>
		<string>石钧</string>
		<key>number</key>
		<string>周三第1,2节</string>
		<key>week</key>
		<string>第5-15周|单周</string>
		<key>sign</key>
		<string>1</string>
		<key>name2</key>
		<string>移动通信技术</string>
		<key>room2</key>
		<string>2号公教楼203</string>
		<key>teacher2</key>
		<string>张少蔚</string>
		<key>number2</key>
		<string>周三第1,2节</string>
		<key>week2</key>
		<string>第4-16周|双周</string>
		<key>sign2</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>电子测量技术</string>
		<key>room</key>
		<string>2号公教楼402</string>
		<key>teacher</key>
		<string>张芳芳</string>
		<key>number</key>
		<string>周五第1,2节</string>
		<key>week</key>
		<string>第5-15周|单周</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>电子专业英语</string>
		<key>room</key>
		<string>1号公教楼306</string>
		<key>teacher</key>
		<string>石钧</string>
		<key>number</key>
		<string>周一第3,4节</string>
		<key>week</key>
		<string>第4-15周</string>
	</dict>
	<dict>
		<key>name</key>
		<string>移动通信技术</string>
		<key>room</key>
		<string>2号公教楼303</string>
		<key>teacher</key>
		<string>张少蔚</string>
		<key>number</key>
		<string>周二第3,4节</string>
		<key>week</key>
		<string>第4-17周</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DSP技术及其应用</string>
		<key>room</key>
		<string>1号公教楼JT302</string>
		<key>teacher</key>
		<string>刘晓</string>
		<key>number</key>
		<string>周三第7,8节</string>
		<key>week</key>
		<string>第4-16周</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>新型电子元器件及其应用Ⅰ</string>
		<key>room</key>
		<string>1号公教楼402</string>
		<key>teacher</key>
		<string>石钧</string>
		<key>number</key>
		<string>周一第5,6节</string>
		<key>week</key>
		<string>第4-15周</string>
	</dict>
	<dict>
		<key>name</key>
		<string>电子测量技术</string>
		<key>room</key>
		<string>1号公教楼306</string>
		<key>teacher</key>
		<string>张芳芳</string>
		<key>number</key>
		<string>周三第5,6节</string>
		<key>week</key>
		<string>第4-16周</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>双周上课的</string>
		<key>room</key>
		<string>balabala</string>
		<key>teacher</key>
		<string>bala</string>
		<key>number</key>
		<string>ba</string>
		<key>week</key>
		<string>la</string>
		<key>sign</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>单周上课的</string>
		<key>room</key>
		<string>ba</string>
		<key>teacher</key>
		<string>la</string>
		<key>number</key>
		<string>bala</string>
		<key>week</key>
		<string>balabala</string>
		<key>sign</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>数字图像处理技术</string>
		<key>room</key>
		<string>1号公教楼401</string>
		<key>teacher</key>
		<string>王磊</string>
		<key>number</key>
		<string>周一第7,8节</string>
		<key>week</key>
		<string>第4-16周</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>请不要太过关注课程内容</string>
		<key>room</key>
		<string>谢谢</string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>虽然课表的确是真的</string>
		<key>room</key>
		<string>1号公教楼JT302</string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>room</key>
		<string></string>
		<key>teacher</key>
		<string></string>
		<key>number</key>
		<string></string>
		<key>week</key>
		<string></string>
	</dict>
</array>
</plist>
