<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>信息理论与编码Ⅰ</string>
		<key>type</key>
		<string>必修课</string>
		<key>credit</key>
		<string>2.0</string>
		<key>point</key>
		<string>97</string>
		<key>achievement</key>
		<string>97</string>
		<key>reachievement</key>
		<string></string>
		<key>restudy</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>网络信息技术</string>
		<key>type</key>
		<string>必修课</string>
		<key>credit</key>
		<string>2.0</string>
		<key>point</key>
		<string>68</string>
		<key>achievement</key>
		<string>68</string>
		<key>reachievement</key>
		<string></string>
		<key>restudy</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>多媒体技术</string>
		<key>type</key>
		<string>选修课</string>
		<key>credit</key>
		<string>2.5</string>
		<key>point</key>
		<string>63</string>
		<key>achievement</key>
		<string>63</string>
		<key>reachievement</key>
		<string></string>
		<key>restudy</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>通信原理</string>
		<key>type</key>
		<string>必修课</string>
		<key>credit</key>
		<string>4.5</string>
		<key>point</key>
		<string>70</string>
		<key>achievement</key>
		<string>57</string>
		<key>reachievement</key>
		<string>70</string>
		<key>restudy</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>数字信号处理（信控）</string>
		<key>type</key>
		<string>必修课</string>
		<key>credit</key>
		<string>4.0</string>
		<key>point</key>
		<string>69</string>
		<key>achievement</key>
		<string>49</string>
		<key>reachievement</key>
		<string>69</string>
		<key>restudy</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>单片机原理Ⅰ</string>
		<key>type</key>
		<string>必修课</string>
		<key>credit</key>
		<string>3.0</string>
		<key>point</key>
		<string>79</string>
		<key>achievement</key>
		<string>79</string>
		<key>reachievement</key>
		<string></string>
		<key>restudy</key>
		<string>重修</string>
	</dict>
	<dict>
		<key>name</key>
		<string>文献检索</string>
		<key>type</key>
		<string>必修课</string>
		<key>credit</key>
		<string>1.0</string>
		<key>point</key>
		<string>95</string>
		<key>achievement</key>
		<string>95.8</string>
		<key>reachievement</key>
		<string></string>
		<key>restudy</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>大学生创业基础2</string>
		<key>type</key>
		<string>通选课</string>
		<key>credit</key>
		<string>2.0</string>
		<key>point</key>
		<string>75</string>
		<key>achievement</key>
		<string>75</string>
		<key>reachievement</key>
		<string></string>
		<key>restudy</key>
		<string></string>
	</dict>
</array>
</plist>
